/* Class CSS */
.main-container {
    display: grid;
    grid-template-columns: repeat(20, 100px);
    grid-template-rows: repeat(16, 100px);
    grid-gap: 20px;
    background-color: bisque;
    padding: 1em;                      /*  added  */
    box-sizing: border-box;
}

.centre-container {
    background-color: aqua;
    grid-column-start: 5;
    grid-column-end: -5;
    grid-row-start: 5;
    grid-row-end: -5;
    position: relative;
}

.centre-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vis-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}

/* .centre-section vega-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

button.link {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}

/* Specific Element CSS */
#death-cause-main {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 8;
}

#peaks-deaths-main {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 13;
}

#origin-country-main {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: -5;
    grid-row-end: -1;
}

#summit-date-climbers-main {
    grid-column-start: -5;
    grid-column-end: -1;
    grid-row-start: 8;
    grid-row-end: -1;
}

#time-day-main {
    grid-column-start: -5;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 8;
}